/* Asegurarse de que el body y html ocupen toda la altura */
html, body {
  height: 100%;
  margin: 0; /* Eliminar márgenes predeterminados */
  
}

/* Estilos para el contenedor principal */
.home-container-admin {
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-image: url('/public/image/ganador.png'); /* Ruta de la imagen */
  background-size: cover; /* Ajustar imagen al tamaño de la pantalla */
  background-position: center; /* Centrar la imagen */
  background-attachment: fixed; /* Imagen fija al hacer scroll */
  background-repeat: no-repeat; /* No repetir la imagen */
  font-family: 'Arial', sans-serif;
}


/* Encabezado principal */
h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* Subtítulo */
p {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Estilos para la tabla */
.data-table {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.603); /* Fondo blanco semitransparente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

.data-table th {
  background-color: #007bff94;
  color: white;
  font-weight: bold;
}

.data-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05); /* Alternar colores en las filas */
}

.data-table tr:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Efecto hover */
}

/* Botón de cierre de sesión */
.logout-button {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Alineación vertical opcional */
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
  max-width: 300px; /* Limitar el tamaño máximo */
  margin: 20px auto; /* Centrar el contenedor completo */
  gap: 10px; /* Espacio entre los botones */
}

.logout-button:hover {
  background-color: #c82333;
}
